# --- Arquivos de Dados e Segurança (NUNCA enviar ao Git) ---
chave.key
vault.crypt
config.json

# --- Ambientes Virtuais e Dependências ---
venv/
.venv/
env/
bin/
lib/
include/

# --- Arquivos do Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# --- Configurações do Editor (VS Code) ---
.vscode/
.history/

# --- Logs de Erro ---
pip-log.txt
*.log
